body {
            margin: 0;
            padding: 0;
            font-family: 'Inter', Arial, sans-serif;
            font-size: 20px;
            background: #F9FAFB;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
    }
        .espdisplay {
            text-align: justify;
            margin: 20px;
            margin-top: 10px;
        }
        hr {
            border: none;
            height: 2px;
            background-color: #E5E7EB; 
            margin: 2rem 0;
            border-radius: 2px;
        }
        .separador-codigo {
            border: none;
            height: 2px;
            background-color: #000000; 
            border-radius: 2px;
        }
        body h1 {
            font-family: 'Poppins', sans-serif;
            color: #2962FF
        }
        section h2 {
            font-family: 'Poppins', sans-serif;
            color: #374151
        }
        section p {
            margin: 40px
        }
        header {
            background: #2962FF;
            color: rgb(255, 255, 255);
            padding: 7px 0;
            text-align: center;
        }
        header h1 {
            margin: 5px;
            color:#ffffff;
            font-size: 45px;
            font-family: 'Poppins', sans-serif;
        }
        header p {
            font-size: 15px;
            margin: 20px;
            margin-top: 10px;
        }
        section h1 {
            text-align: left;
            margin-top: 0px;
            margin: 20px;
            font-size: 40px;
        }
        section h2{
            text-align: left;
            margin: 30px;
            margin-top: 0px;
            font-size: 30px;
        }
        article {
            background: #E5E7EB;
            margin: 20px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        article p {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 20px;
            font-family: 'Segoe UI', Arial, sans-serif;
        }
        .azul {
            color: rgb(0, 0, 255);
            font-family: 'Segoe UI', Arial, sans-serif;
            font-size: 21px;
        }
        pre, code {
            background: #ffffff;
            color:  #374151;
            padding: -10px;
            border-radius: 6px;
            font-family: 'Fira Mono', 'Consolas', monospace;
            font-size: 17px;
            display: block;
            margin: 20px 10px;
        }
        pre {
            border-left: 4px solid #213642;
            padding-left: 10px;
            max-width: 1000px;
            width: 100%;
        }
        .nohtml {
            color: #000;
            font-family: 'Fira Mono', 'Consolas', monospace;
            font-size: 17px;
            display: block;
            margin: 20px 10px;
        }
        .nocss {
            color: #000;
            font-family: 'Fira Mono', 'Consolas', monospace;
            font-size: 17px;
            display: block;
            margin: 20px 10px;
        }
        .fonte {
            font-family: "Times New Roman", Times, serif;
        }
        .fontsize {
            font-size: 10px;
        }
        .fontsize2 {
            font-size: 30px;
        }
        .exemplo-center {
    text-align: center;
}
        .exemplo-left {
    text-align: left;
        }
        .exemplo-right {
    text-align: right;
        }
        .exemplo-bg {
    background-color: yellow;
    width: 700px;
}
        .exemplo-margin {
    margin: 40px;
}
        .exemplo-padding {
    padding: 30px;
    background-color: #e0e0e0;
}
        .exemplo-border {
    border: 2px solid blue;
}
    .exemplo-wh {
    width: 200px;
    height: 60px;
    background-color: #ff5733;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .exemplo-block {
    display: block;
    background-color: #ff5733;
    color: white;
    padding: 10px;
    margin: 5px;
}
    .exemplo-inline {
    display: inline;
    background-color: #ff5733;
    color: white;
    padding: 10px;
    margin: 5px;
}
    .exemplo-inline-block {
    display: inline-block;
    background-color: #ff5733;
    color: white;
    padding: 10px;
    margin: 5px;
}

    .exemplo-pos-container {
    position: relative;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 20px;
}
    .exemplo-pos {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
        footer {
            background: #2962FF;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 10px 0;
            margin-top: auto;
        }
        footer p {
            margin: 0;
            font-size: 16px;
        }